/* ==============================
    Dashboard Categorys StyleSheet 
================================= */

/* ########### Index Page ########### */
/* breadcrumb heading input */
.breadcrumb-search-box {
    padding: .5em 2em .5em 2em;
    outline: unset;
    font-size: 12px;
    border-radius: 5px;
    border: .5px solid rgba(161, 160, 160, 0.494);
}

/* category description */
.show-description{
    display: block;
    width: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* category table */
.category-table-listing-wrapper thead{
    background-color: #EFEFEF;
}
.category-table-listing-wrapper thead tr th {
    color: rgb(54, 54, 54);
    font-size: 13px;
}
.category-table-listing-wrapper tbody{
    border-bottom: .5px solid rgba(190, 187, 187, 0.494);
}
.table td, 
.table th {
    vertical-align: middle;
}

/* ########### Media Query ########### */
/* ----- desktop ----- */


/* ----- tablet ----- */


/* ----- mobile ----- */

